html{
    /* 設定body高度為100% 拉到視窗可視的大小 */
    background: #1c1c1d;
}
.custom-br{
    height:650px;
}
.custom-tag{
    max-width: 100%;
    height: 613px;
    background: black
}
.custom-footer{
    max-width: 100%;
    height:100px;
    background: #1c1c1d;
}
.footer-text{
    background: #1c1c1d;
}
.custom-card{
    max-width: 100%;
}
.product-title{
    float:left;
    margin-right:'15px'
}
.App{
    background: #1c1c1d;
}
/* .container{
    background-color: #1c1c1d;
} */